html,body {
	margin: 0px;
	padding: 0px;

}

body {
	background-color: #151515;
	font-family: 'Open Sans', sans-serif;
}

.navigation {
	color: white;
	height: 50px;
}

.navigation ul {
	margin-top: 0px;
	list-style: none;
	padding-left: 0px;
	text-align: center;
	height: 50px;
}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 100;
}



#menu li a{
  text-decoration: none;
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  text-transform: uppercase;
}
#menu li a:before{
  content: '';
  width: 20px;
  position: absolute;
  border-bottom: 2px solid white;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}
#menu li a:hover:before{
  right: 0;
}



.capa {
	color: white;
}

.capa span{
	color: #DF0024;
}

.capa div {
	display: inline-block;
	height: 650px;
}

.profile-pic {
	width: 40%;
	text-align: center;
}

.profile-pic img {
	width: 310px;
	border-radius: 310px;
	margin-top: 100px;
	border: 5px solid white;
}

.profile-title {
	vertical-align: top;
	width: 59%;
}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 58px;
	font-weight: 600;
	margin-top: 200px;
	line-height: 54px;
}

.profile-title h2 {
	font-size: 16px;
	font-weight: 300;
	margin-top: -20px;
	margin-left: 140px;
}

.main {
	padding:80px 180px 80px 100px;
}

.cv-pic {
	float: left;
	width: 250px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.main h1 {
	color: #DF0024;
	font-weight: normal;

}

.main h2 {
	color: #DF0024;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
}

.main h3 {
	color: #DF0024;
	font-size: 12px;
	text-transform: uppercase;

}

.main p {
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;
	text-align: justify;
}

.caminho {
	list-style: none;
	padding-left: 0;
	color: grey;
}

.caminho li {
	display: inline-block;
}

.social-img {
	width: 30px;
	margin-right: 10px;
}

.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
}
.thanos{
	font-weight: 600;
	text-transform: uppercase
}